.about {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
    overflow: hidden;
    position: relative;
}

.about .foto img{
	border-radius: 100%;
	border: .187em solid #000;
	width: 10em;
    margin-top: 3.125rem;
}

.about .lines {
    display: none;
}

.about .about-me {
	background: #fff;
	width: 90%;
    max-width: 500px;
	box-shadow: 0px 0px .937em rgba(0,0,0,0.8);
    margin: 3.125rem auto;
    position: relative;
    z-index: 20;
}


.contenedor .about .about-me p {
	text-align: justify;
	padding: 1.25em;
}

/*#####################################*/

.about .giro {
    display: none;
}


/*################################*/

@media screen and (min-width:1024px) {
    
    .about .lines {
        display: block;
        background: transparent;
        border-bottom: 5px solid #333333;
        border-top: 5px solid #333333;
        border-right: none;
        border-left: none;
        width: 100%;
        height: 30px;
        z-index: 5;
        position: absolute;
        top: 47%;
    
    }
    
    .about .foto img{
	    width: 12em;
        margin-top: 0;
    }
    
    .about {
        width: 100%;
        height: 100vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .about .about-me {
        margin: 0px 1.25rem;	
    }  
    
    .about .giro {
        display: flex;
        justify-content: space-between;
        width: 25em;
        height: 25em;
        margin: auto;
        border-radius: 50%;
        animation-name: moverse;
        animation-duration:30s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        font-size: 16px;

    }

    @keyframes moverse {
        from {
            transform: rotate(360deg);
        }
        to {
            transform: rotate(0deg);
        }
    }

    .cubo1 {
        width: 3.125rem;
        height: 3.125rem;
        background: black;
        border-radius: 50%;
        top: 0%;
        left: 50%;
        position: relative;
        z-index: 30;
        cursor: pointer;
    }
    
    .cubo1 a {
        color: white;
        font-size: 1.875rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 40;
    }
    
    .cubo1:hover {
        border: 2px solid orange;
    }

    .cubo2 {
        width: 3.125rem;
        height: 3.125rem;
        background: black;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: 0%;
        z-index: 30;
    }
    
    .cubo2 a {
        color: white;
        font-size: 1.875rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 40;
    }
    
    .cubo2:hover {
        border: 2px solid orange;
    }

    .cubo3 {
        width: 3.125rem;
        height: 3.125rem;
        background: black;
        border-radius: 50%;
        position: absolute;
        bottom: 0%;
        right: 50%;
        z-index: 30;
    }
    
    .cubo3:hover {
        border: 2px solid orange;
    }
    
    .cubo3 a {
        color: white;
        font-size: 1.875rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 40;
    }
    
    .cubo4:hover {
        border: 2px solid orange;
    }

    .cubo4 {
        width: 3.125rem;
        height: 3.125rem;
        background: black;
        border-radius: 50%;
        position: absolute;
        bottom: 50%;
        left: 0%;
        z-index: 30;
    }
    
    .cubo4 a {
        color: white;
        font-size: 1.875rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 40;
    }

    .linea1 {
        width: 25rem;
        height: .2rem;
        background: black;
        position: absolute;
        top: 50%;
        transform: rotate(8deg);
        z-index: 10;
    }

    .linea2 {
        width: 25rem;
        height: .2rem;
        background: black;
        position: absolute;
        top: 50%;
        transform: rotate(98deg);
        z-index: 10;
    }

    .about .foto {
        position: relative;
    }

    .about .foto img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 20;
    }

}

