.contenedor footer .formulario {
	margin: auto;
	width: 600px;
	margin-top: 100px;
}

.contenedor footer .formulario input {
	display: block;
}

.contenedor footer .formulario input[type="text"],
.contenedor footer .formulario input[type="email"],
.contenedor footer .formulario textarea {
	width: 100%;
	margin-bottom: 10px;
	padding: 20px;	
	font-size: 1.2em;
}

.contenedor footer .formulario textarea {
	min-height: 200px;
	max-height: 500px;
	min-width: 600px;
	max-width: 600px;
}

.contenedor footer .formulario input[type="submit"] {
	width: 200px;
	height: 40px;
	margin: 20px auto;
	font-size: 1.2em;
	margin-bottom: 100px;

}

@media screen and (max-width:800px) {
    .contenedor footer .formulario {
        width: 300px;
        margin-top: 50px;
    }
    
    .contenedor footer .formulario textarea {
        min-height: 200px;
        max-height: 500px;
        min-width: 300px;
        max-width: 300px;
    }    
}

