.header {
	background: url('../img/desktop.png');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
	height: 100vh;
}

.header .container {
	text-align: center;
	margin: auto;
    overflow: hidden;
}

.header .container h1 {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .container h1 {
  	font-size: 0.8em;
  	overflow: hidden;
  	border-right: .05em solid black;
  	white-space: nowrap;
  	letter-spacing: .15em;
  	animation: typewriter 3s steps(20), blink .5s step-end infinite;
}

.header .container h1 span {
    color: rgba(255,255,255,0.8);
}

@keyframes typewriter {
  from { width: 0 }
  to { width: 90% }
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: black }
} 

@media (min-width:1024px){
    .header .container h1 {
  	    font-size: 2em;
    }
    
    @keyframes typewriter {
      from { width: 0 }
      to { width: 60% }
    }

    @keyframes blink {
      from, to { border-color: transparent }
      50% { border-color: black }
    } 
}



