header nav {
	width: 100%;
	text-align: center;
	position: fixed;
    z-index: 100;
	top: 0px;
	background: #F4F4F4;
	box-shadow: 0px 4px 4px rgba(0,0,0, .5)
}

header nav a {
	color: #000;
	text-decoration: none;
	margin: 1em 1em;
	display: inline-block;
	border-bottom: .062em solid transparent;
}

.contenedor header nav a:hover {
	color: #544887;
	border-bottom: .062em solid #544887;
}

.inicio, .acerca, .herramientas, .proyectos, .contacto {
    display: none;
}

@media (min-width: 800px){
    header nav a{
        margin: 1em 2em;
    }
    .inicio, .acerca, .herramientas, .proyectos, .contacto {
        display: block;
    }
}