@import url('menu.css');
@import url('planes.css');
@import url('header.css');
@import url('about.css');
@import url('tools.css');
@import url('projects.css');
@import url('footer.css');
@import url('form.css');

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.contenedor {
	width: 100%;
}


